*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: .4s;
    background-position: center;
    background-size: cover;
    position: relative;

}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100%;
    z-index: -1;
  
}
.slider-container{
    position: relative;
    overflow: hidden;
    height: 70vh;
    width: 70vw;
    box-shadow:  0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.26);
    overflow: hidden;
}
.slide{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: -15vw;
    top: -15vh;
    z-index: 1;
    transition: .4s ease;
    opacity: 0;
  
}
.slide.active{
    opacity: 1;
}
button
{
    position: fixed;
    background-color: transparent;
    color: #fff;
    padding: 20px;
    font-size: 30px;
    border: 2px solid orange;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
#left{
left: calc(15vw - 65px);
}
#right
{
    right: calc(15vw - 65px);
}