*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   overflow: hidden;

}
.bg{
    background: url("bg.jpg") no-repeat center/cover;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    position: absolute;
    top: -30px;
    left: -30px;
    filter: blur(0px);
    z-index: -1;
}
.text{
    font-size: 100px;
    color: #fff;
}